.meetingScheduleCard {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;

    :global {
        .schedule-info, .schedule-state {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.meetingScheduleCardSelected {
    border: 1px solid #1296db;
}
