.meetingRoomSchedule {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 12px;

    :global {
        .title {
            line-height: 25px;
            padding-bottom: 12px;

            &-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 42px;
            }
        }

        .schedule-info {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
}